<h2> All reports </h2>

<ul>
  <% @reports.each do |report| %>
    <li>
      <b><%= report.category.name %></b> <br>
      <%= link_to report.address, report_path(report) %> <br>
      Updated at: <%= local_time(report.updated_at) %>
    </li>
  <% end %>
</ul>
